
@{
    ViewBag.Title = "HW1";
}

<div style="padding-top:10px">
    <p>
        姓名:<input type="text"/>
    </p>
    <p>
        帳號:<input type="text"/>
    </p>
    <p>
        密碼:<input type="password"/>
    </p>
    <p>
        性別:
        <input type="radio" />男性
        <input type="radio" />女性
    </p>
    <p>
        興趣:
        <input type="checkbox"/>游泳
        <input type="checkbox" />閱讀
        <input type="checkbox" />看電影
    </p>
    <p>
        自我介紹:<textarea type="message"></textarea>
    </p>
    <button>送出但是其實不能送出</button>
</div>

